/*
Colors:
    - Primary:              #F3476D (Pink)
    - Text:                 #868686 (Grey)
    - Link:                 #666666 (Dark Grey)
    - Hover Link:           #333333 (Black)
    - Job Card Border:      #D5D5D5 (Dark Grey)
    - Job Card Background:  #FAFAFA (Light Grey)
    - Menu Separator:       #E8E8E8 (Very Light Grey)
    - Remove Filter Link:   #F3476D (Pink)
    - Highlights:           #F3476D (Pink)
    - Border Shading 1:     #E8E8E8 (Very Light Grey)
    - Border Shading 2:     #FCCED9 (Very Light Pink)

Style:
    - Job Card Corner Radius: 5px (class .fp-job-holder)
    - Page Button Corner Radius: 3px (class fairplay-pagination a)
 */

#fp-wrapper {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    color: #868686;
    padding-top: 72px;
}

#fp-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#fp-wrapper .fp-search-query>p {
    cursor: auto
}

#fp-wrapper a {
    color: #F3476D;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#fp-wrapper a:hover,
#fp-wrapper a:active {
    color: #F3476D;
    text-decoration: none;
}

#fp-wrapper h1,
#fp-wrapper h2,
#fp-wrapper h3,
#fp-wrapper h4,
#fp-wrapper h5,
#fp-wrapper h6 {
    font-weight: 300;
    margin-top: 0;
    color: #333333;
}

#fp-wrapper h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

#fp-wrapper *:focus,
#fp-wrapper a:focus,
#fp-wrapper input:focus,
#fp-wrapper .fp-btn:focus {
    outline: 0;
    outline: none;
}

#fp-wrapper ul,
#fp-wrapper ol {
    
}

#fp-side-left {
    margin-top: 10px;
}

.fp-btn {

}

.fp-btn:focus,
.fp-btn:active:focus,
.fp-btn.fp-active:focus {
    
}

.fp-btn:hover,
.fp-btn:focus {
    
}

.fp-btn:active,
.fp-btn.fp-active {
    
}

.fp-btn.disabled,
.fp-btn[disabled],
fieldset[disabled] .fp-btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.fp-btn-primary {
    
}

.fp-btn-primary:hover,
.fp-btn-primary:focus,
.fp-btn-primary:active,
.fp-btn-primary.fp-active,
.open>.dropdown-toggle.fp-btn-primary {

}

.fp-btn-primary:active,
.fp-btn-primary.fp-active,
.open>.dropdown-toggle.fp-btn-primary {

}

.fp-btn-primary.disabled,
.fp-btn-primary[disabled],
fieldset[disabled] .fp-btn-primary,
.fp-btn-primary.disabled:hover,
.fp-btn-primary[disabled]:hover,
fieldset[disabled] .fp-btn-primary:hover,
.fp-btn-primary.disabled:focus,
.fp-btn-primary[disabled]:focus,
fieldset[disabled] .fp-btn-primary:focus,
.fp-btn-primary.disabled:active,
.fp-btn-primary[disabled]:active,
fieldset[disabled] .fp-btn-primary:active,
.fp-btn-primary.disabled.fp-active,
.fp-btn-primary[disabled].fp-active,
fieldset[disabled] .fp-btn-primary.fp-active {
    
}

.fp-btn-primary .badge {
    color: #ff931e;
    background-color: #fff
}

.fp-col-md-3,
.fp-col-sm-4,
.fp-col-md-9,
.fp-col-sm-8, 
.fp-col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.fp-col-xs-12 {
    float: left
}

.fp-col-xs-12 {
    width: 100%
}

.fp-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.fp-form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.fp-form-control::-moz-placeholder {
    color: #777;
    opacity: 1
}

.fp-form-control:-ms-input-placeholder {
    color: #777
}

.fp-form-control::-webkit-input-placeholder {
    color: #777
}

.fp-form-control[disabled],
.fp-form-control[readonly],
fieldset[disabled] .fp-form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1
}

textarea.fp-form-control {
    height: auto
}

.fp-hidden {
    display: none !important;
    visibility: hidden !important
}

.fp-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.fp-container:before,
.fp-container:after {
    content: " ";
    display: table
}

.fp-container:after {
    clear: both
}

@media (max-width:767px) {

    .fp-hidden-xs {
        display: none !important
    }
}

@media (min-width:768px) {

    .fp-col-sm-4,
    .fp-col-sm-8 {
        float: left
    }

    .fp-col-sm-4 {
        width: 33.33333333%
    }

    .fp-col-sm-8 {
        width: 66.66666667%
    }

    .fp-container {
        width: 750px
    }
}

@media (min-width:992px) {

    .fp-col-md-3,
    .fp-col-md-9 {
        float: left
    }

    .fp-col-md-9 {
        width: 75%
    }

    .fp-col-md-3 {
        width: 25%
    }

    .fp-container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .fp-container {
        width: 1170px
    }
}

/*BOOTSTRAP*/



/* 2. START: Global */

#fp-content ul.tabs {
    display: none;
}

#fp-content ul.tabs li {
    background: transparent;
    border: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}

#fp-side-drop-menu,
#fp-side-drop-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#fp-side-drop-menu {
    margin-bottom: 2em;
    margin-top: 2em;
}

#fp-side-drop-menu li {
    display: block;
    margin: 0;
    padding: 0;
}

.fp-search-query p,
#fp-side-drop-menu a {
    display: block;
    margin: 0;
    padding: 10px 10px;
    border-top: 1px solid #E8E8E8;
    border-left: 4px solid #FCCED9;
}

.fp-search-query p {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#fp-side-drop-menu ul li a {
    color: #868686;
    border-left: 4px solid #E8E8E8;
}

#fp-side-drop-menu a:hover {
    text-decoration: none;
}

#fp-side-drop-menu ul li a {}

.fp-btn:focus {
    outline: 0;
    outline: none;
}

.fp-btn {
    
}

.fp-btn-primary {
    
}

.fp-btn-primary:hover,
.fp-btn-primary:focus,
.fp-btn-primary:active,
.fp-btn-primary.fp-active,
.open>.dropdown-toggle.fp-btn-primary {
    
}

.fp-btn-primary:hover,
.fp-btn-primary:focus {

}

.fp-form-control::-moz-placeholder {
    color: #868686;
    opacity: 1;
}

.fp-form-control::-webkit-input-placeholder {
    color: #868686;
    opacity: 1;
}

.fp-form-control:-moz-placeholder {
    color: #868686;
    opacity: 1;
}

.fp-form-control:-ms-input-placeholder {
    color: #868686;
    opacity: 1;
}

.fp-form-control:focus {
    border-color: #888;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fp-collapse-menu {
    display: none;
}

.fp-expand-menu {
    display: block;
}

.fp-content-holder {}

.fp-content-holder h1 {
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-size: 40px;
}

.fp-description-holder .locandsalary {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    overflow: hidden;
}

.fp-description-holder .locandsalary span {
    display: block;
    margin: 0;
}

.fp-description-holder .locandsalary span:first-child {
    font-weight: bold;
}

.fp-description-holder .locandsalary span:first-child::before {
    
}

.fp-description-holder {
    clear: both;
    display: inline-block;
    margin: 0.4em 0;
    overflow: hidden;
    width: 100%;
}

.fp-description-holder .description-logo {
    display: none;
}

.fp-description-holder ul,
.fp-description-holder p {
    margin-top: 0;
    margin-bottom: 0;
}

.fp-description-holder .job-checkbox {
    float: right;
    text-align: right;
    width: 5%;
}

.fp-description-holder .job-checkbox input[type-checkbox] {
    max-width: 100%;
}

.fp-description-holder .locandsalary {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 5% 0 0;
    width: 35%;
}

.fp-description-holder .fp-description-text {
    float: left;
    font-size: 13px;
    width: 60%;
}

.fp-description-holder .short-fp-description-text {
    float: left;
    font-size: 13px;
}

.fp-description-holder .locandsalary .neap-result-area {
    display: none
}

.fp-description-holder .locandsalary .neap-result-salary span {
    display: inline-block;
    padding: 0
}

.fp-job-breadcrumbs {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    font-size: small;
}

.fp-job-holder {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    clear: both;
    border-bottom: dashed 4px #D5D5D5;
    background: #FAFAFA;
    margin: 0 0 2em 0;
    padding: 1.8em 1.5em;
    width: 100%;
    border-radius: 0px;
}

.fp-job-holder:hover {
    /*
    box-shadow: 1px 1px 6px #C1BAC1;
    background: #fff;
    */
    border-bottom: dashed 4px #F3476D;
}

.fp-job-holder a {
    color: #666666 !important;
    font-weight: bold;
}

.fp-job-holder a:hover {
    color: #333333 !important;
}

.fp-job-holder .fp-job-toplink a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #666666;
    background: transparent;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.fp-job-holder:hover .fp-job-toplink a {
    color: #000;
}

.fp-job-toplink {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 5% 0 0;
    width: 80%;
    width: 400px\9;
}

.fp-job-toplink .fp-nameofcompany {
    display: none;
    font-size: small;
}

.fp-job-rightlinks {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    font-size: small;
    text-align: right;
    width: 20%;
    width: 150px\9;
}

.fp-mini-new-buttons {

}

.fp-mini-new-buttons:hover {
    color: #fff !important;
    background-color: #F3476D;
    border-color: #F3476D;
}

input.fp-mini-new-buttons {

}

.neap-salary-type {
    margin-top: 1.5em;
    margin-bottom: 1.5em
}

.neap-salary-type select {
    display: block;
    width: 100%;
    margin: 0;
    box-sizing: border-box
}

.neap-salary-bands {
    display: table;
    margin-bottom: 1.5em
}

.neap-salary-bands-error {
    display: table;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1.5em;
    color: #F3476D;
}

.neap-salary-min,
.neap-salary-max {
    display: table-cell;
    position: relative;
    width: 40%
}

.neap-salary-min label,
.neap-salary-max label {
    position: absolute;
    left: -10000em
}

.neap-salary-currency {
    position: absolute;
    top: 51%;
    left: 1em;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%)
}

.neap-salary-bands .neap-salary-min input,
.neap-salary-bands .neap-salary-max input {
    display: block;
    width: 100%;
    margin: 0;
    box-sizing: border-box
}

.neap-salary-to {
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: middle
}

.neap-salary-submit {
    clear: both;
    padding-bottom: 1.5em
}

.neap-salary-submit .fp-btn {
    width: 100%;
    cursor: pointer;
    color: #FFF;
    background-color: #F3476D;
    border-color: #F3476D;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: 
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.neap-salary-submit .fp-btn:hover {
    background-color: black;
    border-color: black;
}

.fp-red-remove {
    color: #F3476D !important;
    transform: rotate(45deg);
}

.fp-red-remove a {
    color: #F3476D !important;
    padding: 5px 5px 5px 5px !important;
}

.fp-red-remove:hover a {
    color: #F3476D !important;
}

.fp-search-query {
    /* search result filter box */
    margin: 0 0 0 0;
    font-weight: bold;
    color: #F3476D;
}

.fp-search-query>h3 {
    display: none;
}

.fp-search-query input[type="text"],
.fp-search-query select {
    margin: 0 !important;
    color: #1a1a1a
}

.fp-side-menu-cursor a,
.fp-side-menu-cursor li {
    cursor: pointer;
}



.fp-num-results {
    margin: 0 0 1em 0;
}

.fp-new-search-link {
    display:none;
}

.fp-searchresult-number {
    color: #333333;
    font-weight: bold;
}

.fp-box {
    padding-top: 3em;
    padding-bottom: 2em;
}

#fairplay-pagination {
    text-align: center;
}

#fairplay-pagination a { 
    cursor: pointer;
    display: inline-block;
    font-size: small;
    margin: 0 0.5em 0 0;
    padding: 0.1em 0.5em;
    text-align: center;
    border-radius: 0px;
    color: #666666;
}

#fairplay-pagination .fp-active {
    font-weight: bold;
    color: #F3476D;
}

@media (max-width: 767px) {

    body {
        padding-top: 0;
    }

    .fp-btn-primary {
    
    }

    .fp-job-breadcrumbs {
        display: none;
    }

    .fp-new-search-link {
        display:block;
        float: right;
    }
}

@media screen and (max-width: 991px) {
    .fp-description-holder .locandsalary {
        font-size: small;
        overflow: hidden;
        margin: 0 0 1em 0;
        width: 90%;
    }

    .fp-description-holder .locandsalary span {
        margin: 0 10px 0 0;
        float: left;
    }

    .fp-description-holder .fp-description-text {
        width: 100%;
    }

    .fp-description-holder .job-checkbox {
        float: right;
        text-align: right;
    }

    .fp-job-toplink,
    .fp-job-breadcrumbs {
        padding: 0;
        width: 100%;
    }

    .fp-job-toplink a {
        display: block;
        margin: 0 0 0.5em 0;
    }

    .fp-job-rightlinks {
        clear: both;
        float: none;
        text-align: left;
        width: 100%;
    }

    .fp-job-rightlinks br {
        display: none;
    }
}
